
<div id="header" class="text-center text-white parent">
  <div class="child">
    <img src="../../assets/img/Sigla-Aeroport-Oradea-2020-500.png" alt="Aeroport Oradea" style="position: absolute; left: -15%; top: -100%;" class="img-fluid fit-image">
    <h1 style="font-size: 5vh;">Plecari -Departures</h1>
    <div style="font-size: 5vh;position: absolute; right: -13%; top: -75%;">{{ currentDate | date: 'HH:mm:ss' }}</div>
    <div style="font-size: 5vh;position: absolute; right: -14%; top: 25%;">{{ currentDate | date:'dd-MM-yyyy'}}</div>
  </div>
</div>


<!--TABELA SOSIRI-->
<div id="tabela">
    <table class="text-center">
        <thead>
            <th>Data<br>
            Date</th>
            <th>Operator<br>
                Flight Operator</th>
            <th>Nr. zbor<br>
                Flight No.</th>
            <th>Destinatie<br>
                Destination</th>
            <th>Ora Decolare<br>
                Departure Time</th>
            <th>Terminal<br>
                Terminal</th>
            <th>Status</th>
            <th>Intarziere<br>
            Delay</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ lstComments[0].id }}</td>
                <td><img src="../../assets/img/sigla_tarom.png" alt="Tarom"></td>
                <td>RO622</td>
                <td>{{ lstComments[0].task }}</td>
                <td>09:20</td>
                <td>T 2</td>
                <td id="intarziere">Intarziere<br>
                Delay</td>
                <td>15 min</td>
            </tr>
            <tr>
                <td>{{ lstComments[1].id }}</td>
                <td><img src="../../assets/img/sigla_tarom.png" alt="Tarom"></td>
                <td>RO628</td>
                <td>{{ lstComments[1].task }}</td>
                <td>19:45</td>
                <td>T 1</td>
                <td id="aterizat-decolat">Decolat<br>
                Departed</td>
                <td></td>
            </tr>
            <tr>
                <td>{{ lstComments[2].id }}</td>
                <td><img src="../../assets/img/sigla_tarom.png" alt="Tarom"></td>
                <td>RO622</td>
                <td>{{ lstComments[2].task }}</td>
                <td>09:20</td>
                <td>T 2</td>
                <td>On Time<br>
                In asteptare</td>
                <td></td>
            </tr>
            <tr>
                <td>{{ lstComments[3].id }}</td>
                <td><img src="../../assets/img/sigla_tarom.png" alt="Tarom"></td>
                <td>RO628</td>
                <td>{{ lstComments[3].task }}</td>
                <td>19:45</td>
                <td>T 1</td>
                <td id="intarziere">Intarziere<br>
                Delay</td>
                <td>15 min</td>
            </tr>
            <tr>
                <td>{{ lstComments[4].id }}</td>
                <td><img src="../../assets/img/sigla_tarom.png" alt="Tarom"></td>
                <td>RO622</td>
                <td>{{ lstComments[4].task }}</td>
                <td>09:20</td>
                <td>T 2</td>
                <td id="anulat">Anulat<br>
                Canceled</td>
                <td></td>
            </tr>
            <tr>
              <td>19 Februarie</td>
              <td><img src="../../assets/img/sigla_tarom.png" alt="Tarom"></td>
              <td>RO622</td>
              <td>Otopeni</td>
              <td>09:20</td>
              <td>T 2</td>
              <td>On Time<br>
              In asteptare</td>
              <td></td>
          </tr>
        </tbody>
    </table>
</div>

<!--FOOTER CU TELEFON URGENTA-->
<div id="footer" class="text-center text-white parent">
    <img src="../../assets/img/flag.png" alt="Steag" style="height:8vh;position: absolute; left: 2%; top: 10%;" class="img-fluid">
    <h3 class="child" style="font-size: 3vh;">Pentru urgente apelati <strong>112</strong> gratuit in orice retea de telefonie mobila</h3>
    <img src="../../assets/img/infocons.png" alt="Info" style="height:8vh;position: absolute; left: 82%; top: 10%;" class="img-fluid">
    <img src="../../assets/img/supraveghere.png" alt="Supravegheat Video" style="height:8vh;position: absolute; left: 92%; top: 10%;" class="img-fluid">
</div>
