<app-header-tabele [name]="titlu"></app-header-tabele>

<!--TABELA SOSIRI-->
<div id="tabela">
    <table class="text-center">
        <thead>
            <th>Data<br>
            Date</th>
            <th>Operator<br>
                Flight Operator</th>
            <th>Nr. zbor<br>
                Flight No.</th>
            <th>Sosire De La<br>
                Arrives From</th>
            <th>Ora Decolare<br>
                Departure Time</th>
            <th>Terminal<br>
                Terminal</th>
            <th>Status</th>
            <th>Intarziere<br>
            Delay</th>
        </thead>
        <tbody>
            <tr *ngFor="let apiEl of lstSosiri | slice: 0:6; let i=index">
                <td>{{ apiEl.id }}</td>
                <td><img src="../../assets/img/sigla_tarom.png" alt="Tarom"></td>
                <td>RO621</td>
                <td>{{apiEl.title}}</td>
                <td>07:30</td>
                <td>T 1</td>
                <td [ngStyle]="{backgroundColor: apiEl.completed === true ? 'rgb(216, 216, 3)' : 'blue'}" *ngIf="apiEl.completed === true; else templateOnTime">Intarziere<br>
                Delay</td>
                <ng-template #templateOnTime>
                    <td>On Time</td>
                </ng-template>
                <td *ngIf="apiEl.completed === true; else templateNoDelay">{{apiEl.userId}} min</td>
                <ng-template #templateNoDelay>
                    <td></td>
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>

<!--FOOTER CU TELEFON URGENTA-->
<app-footer></app-footer>


