<app-header-tabele [name]="titlu"></app-header-tabele>

<!--TABELA SOSIRI-->
<div id="tabela">
    <table class="text-center">
        <thead>
            <th>Data<br>
            Date</th>
            <th>Operator<br>
                Flight Operator</th>
            <th>Nr. zbor<br>
                Flight No.</th>
            <th>Sosire De La<br>
                Arrives From</th>
            <th>Ora Decolare<br>
                Departure Time</th>
            <th>Terminal<br>
                Terminal</th>
            <th>Status</th>
            <th>Intarziere<br>
            Delay</th>
        </thead>
        <tbody>
            <tr>
                <td>18 Februarie</td>
                <td><img src="../../assets/img/sigla_tarom.png" alt="Tarom"></td>
                <td>RO621</td>
                <td>Otopeni</td>
                <td>07:30</td>
                <td>T 1</td>
                <td id="intarziere">Intarziere<br>
                Delay</td>
                <td>15 min</td>
            </tr>
            <tr>
                <td>18 Februarie</td>
                <td><img src="../../assets/img/sigla_tarom.png" alt="Tarom"></td>
                <td>RO628</td>
                <td>Otopeni</td>
                <td>17:55</td>
                <td>T 2</td>
                <td id="aterizat-decolat">Aterizat<br>
                Landed</td>
                <td></td>
            </tr>
            <tr>
                <td>19 Februarie</td>
                <td><img src="../../assets/img/sigla_tarom.png" alt="Tarom"></td>
                <td>RO622</td>
                <td>Otopeni</td>
                <td>07:30</td>
                <td>T 1</td>
                <td>On Time<br>
                In asteptare</td>
                <td></td>
            </tr>
            <tr>
                <td>19 Februarie</td>
                <td><img src="../../assets/img/sigla_tarom.png" alt="Tarom"></td>
                <td>RO628</td>
                <td>Otopeni</td>
                <td>17:55</td>
                <td>T 2</td>
                <td>On Time<br>
                In asteptare</td>
                <td></td>
            </tr>
            <tr>
                <td>20 Februarie</td>
                <td><img src="../../assets/img/sigla_tarom.png" alt="Tarom"></td>
                <td>RO622</td>
                <td>Otopeni</td>
                <td>07:30</td>
                <td>T 1</td>
                <td id="anulat">Anulat<br>
                Canceled</td>
                <td></td>
              </tr>
              <tr>
                <td>20 Februarie</td>
                <td><img src="../../assets/img/sigla_tarom.png" alt="Tarom"></td>
                <td>RO622</td>
                <td>Otopeni</td>
                <td>07:30</td>
                <td>T 1</td>
                <td id="anulat">Anulat<br>
                Canceled</td>
                <td></td>
              </tr>
        </tbody>
    </table>
</div>

<!--FOOTER CU TELEFON URGENTA-->
<app-footer></app-footer>


