<div id="footer" class="text-center text-white parent">
    <img src="../../assets/img/flag.png" alt="Steag" style="height:8vh;position: absolute; left: 2%; top: 10%;" class="img-fluid">
    <h3 class="child" style="font-size: 3vh;">Pentru urgente apelati <strong>112</strong> gratuit in orice retea de telefonie mobila</h3>
    <img src="../../assets/img/infocons.png" alt="Info" style="height:8vh;position: absolute; left: 82%; top: 10%;" class="img-fluid">
    <img src="../../assets/img/supraveghere.png" alt="Supravegheat Video" style="height:8vh;position: absolute; left: 92%; top: 10%;" class="img-fluid">
</div>
