<app-header-tabele [name]="titlu"></app-header-tabele>


<!--TABELA SOSIRI-->
<div id="tabela">
    <table class="text-center">
        <thead>
            <th>Sosire din<br>
            Arrival From</th>
            <th>Operator<br>
                Flight Operator</th>
            <th>Nr. zbor<br>
                Flight No.</th>
        </thead>
        <tbody>
            <tr>
                <td>Hurghada</td>
                <td><img src="../../assets/img/sigla_tarom.png" style="height:12vh;" alt="Tarom"></td> 
                <td>RO621</td>
            </tr>
            <tr>
                <td>Hurghada</td>
                <td><img src="../../assets/img/sigla_tarom.png" style="height:12vh;" alt="Tarom"></td>
                <td>RO628</td>
            </tr>
            <tr>
                <td>Hurghada</td>
                <td><img src="../../assets/img/sigla_tarom.png" style="height:12vh;" alt="Tarom"></td>
                <td>RO621</td>
            </tr>
        </tbody>
    </table>
</div>
<!--FOOTER CU TELEFON URGENTA-->
<app-footer></app-footer>

