<div id="header-checkin" class="text-center text-white parent">
    <div class="child-checkin">
      <h1 style="font-size: 5vh; margin-bottom: 2%;">Check-In 3</h1>
      <img src="../../assets/img/sigla_tarom.png" alt="tarom" style="width: 32vw;height:16vh;" class="img-fluid">
      <div style="font-size: 5vh;position: absolute; right: -10%; top: 10%;">{{ currentDate | date: 'HH:mm:ss' }}</div>
      <div style="font-size: 5vh;position: absolute; right: -12%; top: 50%;">{{currentDate | date:'dd-MM-yyyy'}}</div>
      <img src="../../assets/img/Sigla-Aeroport-Oradea-2020-500.png" alt="Aeroport Oradea" style="position: absolute; left: -15%; top: 25%; height: 18vh;" class="img-fluid">
    </div>
  </div>
  
  <!--ZBOR SI STATUS-->
  <div id="check-in" class="text-white parent">
    <div class="child-checkin" style="padding: 6%;">
        <h1>RO621 OTOPENI</h1>
        <h1 id="closed">INCHIS/CLOSED</h1>
    </div>
  </div>
  
  <!--FOOTER CU POARTA SI ORA DE INCHIDERE A PORTII-->
<app-footer></app-footer>