<!--ZIUA SAPTAMANII SOSIRI-->
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
     <button class="navbar-toggler" data-toggle="collapse" data-target="#menu"><span class="navbar-toggler-icon"></span></button>
       <div class="navbar-collapse collapse" id="menu">
         <ul class="navbar-nav">
           <li class="nav-item px-2"><a href="#" (click)="onSelect('plecari')" class="nav-link">Plecari</a></li>
           <li class="nav-item px-2"><a href="#" (click)="onSelect('sosiri')" class="nav-link">Sosiri</a></li>
           <li class="nav-item px-2"><a href="#" (click)="onSelect('check-in1')" class="nav-link">Check-in 1</a></li>
           <li class="nav-item px-2"><a href="#" (click)="onSelect('check-in2')" class="nav-link">Check-in 2</a></li>
           <li class="nav-item px-2"><a href="#" (click)="onSelect('check-in3')" class="nav-link">Check-in 3</a></li>
           <li class="nav-item px-2"><a href="#" (click)="onSelect('check-in4')" class="nav-link">Check-in 4</a></li>
           <li class="nav-item px-2"><a href="#" (click)="onSelect('bagaje-intern')" class="nav-link">Bagaje sosiri interne</a></li>
           <li class="nav-item px-2"><a href="#" (click)="onSelect('bagaje-extern')" class="nav-link">Bagaje sosiri externe</a></li>
           <li class="nav-item px-2"><a href="#" (click)="onSelect('gate')" class="nav-link">Poarta</a></li>
         </ul>
       </div>
     </div>
</nav>
